Pods/
BeeBaby.xcodeproj/xcuserdata/pedro.xcuserdatad/xcschemes/BeeBaby.xcscheme
BeeBaby.xcodeproj/xcuserdata/pedro.xcuserdatad/xcschemes/xcschememanagement.plist
BeeBaby.xcworkspace/contents.xcworkspacedata
BeeBaby.xcworkspace/xcuserdata/pedro.xcuserdatad/UserInterfaceState.xcuserstate
